﻿<!DOCTYPE html>
<html style="height: 100%; min-height: 100%;">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - angular2webpack</title>
        <base href="/" />
        <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    </head>
    <body style="overflow-y: scroll; height: 100%; min-height: 100% !important;position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;">
        @RenderBody()

        @RenderSection("scripts", required: false)
    </body>
</html>
