﻿<!--<div >
    <input class="form-control input-lg" type="text" placeholder="Countries">
</div>-->

<div >
    <div >
        <input *ngIf="!isMapAutocomplete" id="input" type="text" class="form-control input-lg" [(ngModel)]=query autocomplete="off" (keyup)=filter($event)  (blur)=handleBlur()
               [placeholder]="placeholder">
        <input *ngIf="isMapAutocomplete" class="form-control input-lg" type="text" [placeholder]="placeholder" id="autocompleteInput">
    </div>
    <div class="suggestions" *ngIf="filteredList.length > 0" style="position: absolute;
    box-shadow: 0 3px 12px rgba(0,0,0,.05);    -webkit-box-shadow: 0 3px 12px rgba(0,0,0,.05);border: 1px solid #e4eaec;z-index:100; background: white; width:100%;">
        <ul style="padding: 0; margin: 0;overflow-y: auto;max-height: 250px;" id="container" #cont>
            <li *ngFor="let item of filteredList; let idx = index" [id]="idx"  class="list-item" (mousedown)="select(item)" [class.complete-selected]="idx == selectedIdx">
                <span >{{item}}</span>
            </li>
        </ul>
    </div>
</div>