﻿.list-item, .pac-item{
    list-style-type: none;
    cursor: pointer;
    padding: 8px;
}
:host /deep/ .pac-item {
    list-style-type: none;
    cursor: pointer;
    padding: 8px;
}
.input-lg {
    height: 44px;
    padding: 5px 10px;
    font-size: 16px;
}
.form-control:focus {
    border-color: #03a9f4 !important;
}
.list-item:hover, .pac-item:hover {
    background-color: #f3f7f9;
}
.complete-selected {
    background-color: #f3f7f9;
}