﻿<!-- Top Navigation -->
<nav class="navbar navbar-default navbar-static-top m-b-0" style="position: fixed;    width: 100%;
    top: 0;">
    <div class="navbar-header">
        <!--<a class="navbar-toggle hidden-sm hidden-md hidden-lg " href="javascript:void(0)" data-toggle="collapse" data-target=".navbar-collapse"><i class="ti-menu"></i></a>
        <div class="top-left-part"><a class="logo" href="index.html"></a></div>-->
        <ul class="nav navbar-top-links navbar-left ">
            <!--  <li><a href="javascript:void(0)" class="open-close hidden-xs waves-effect waves-light"><i class="icon-arrow-left-circle ti-menu"></i></a></li>-->
            <li class="navbar-form-input">
                <form role="search" style="margin-top: 8px">
                    <idid-autocomplete [placeholder]="'I want to...'">

                    </idid-autocomplete>
                    <!--<div id="scrollable-dropdown-menu">
                        <input class="typeahead form-control" type="text" placeholder="Countries">
                    </div>-->
                    <!--<input type="text" placeholder="Search..." class="form-control"> <a href=""><i class="fa fa-search"></i></a>-->
                </form>
            </li>
            <li class="navbar-form-input" style="padding-left: 8px;">
                <form role="search" style="margin-top: 8px">
                    <idid-autocomplete [placeholder]="'amsterdam'" [map-autocomplete]="true" (on-place-selected)="onPlaceSelected($event)">

                    </idid-autocomplete>
                    <!--<div id="scrollable-dropdown-menu">
                        <input class="typeahead form-control" type="text" placeholder="Countries">
                    </div>-->
                    <!--<input type="text" placeholder="Search..." class="form-control"> <a href=""><i class="fa fa-search"></i></a>-->
                </form>
            </li>
            <li class="navbar-form-button" style="padding-left: 8px; margin-top: 4px">
                <button type="button" class="btn btn-success btn-circle btn-lg waves-effect"><i class="fa fa-search"></i> </button>
            </li>
        </ul>
        <ul class="nav navbar-top-links navbar-right pull-right">
            <li *ngIf="!loggedin" class="dropdown" style="line-height: 60px">
                <button class="btn btn-facebook waves-effect waves-light" type="button" style="width: 214px;" (click)="loginWithFacebook()">
                    <i class="fa fa-facebook" style="float: left;"></i>
                    Facebook ile bağlan
                </button>
            </li>
            <li *ngIf="loggedin" class="dropdown" (click)="navigate('home')">
                <a class="hidden-xs hidden-sm dropdown-toggle waves-effect waves-light">
                    <div>
                        <b>Ana Sayfa</b>
                    </div>
                </a>
                <a class="visible-xs visible-sm dropdown-toggle waves-effect waves-light">
                    <i class="icon-home"></i>
                </a>
            </li>
            <li *ngIf="loggedin" class="dropdown">
                <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                    <i class="icon-envelope"></i>
                    <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                </a>
                <ul class="dropdown-menu mailbox animated scale-up">
                    <li>
                        <div class="drop-title">You have 4 new messages</div>
                    </li>
                    <li>
                        <div class="message-center">
                            <a href="#">
                                <div class="user-img"> <span class="profile-status online pull-right"></span> </div>
                                <div class="mail-contnet">
                                    <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span>
                                </div>
                            </a>
                            <a href="#">
                                <div class="user-img">  <span class="profile-status busy pull-right"></span> </div>
                                <div class="mail-contnet">
                                    <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span>
                                </div>
                            </a>
                            <a href="#">
                                <div class="user-img"><span class="profile-status away pull-right"></span> </div>
                                <div class="mail-contnet">
                                    <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span>
                                </div>
                            </a>
                            <a href="#">
                                <div class="user-img"> <span class="profile-status offline pull-right"></span> </div>
                                <div class="mail-contnet">
                                    <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                </div>
                            </a>
                        </div>
                    </li>
                    <li (click)="navigate('messages')">
                        <a class="text-center" style="cursor: pointer"> <strong>See all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <li *ngIf="loggedin" class="dropdown">
                <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                    <i class="icon-note"></i>
                    <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                </a>
                <ul class="dropdown-menu dropdown-tasks animated scale-up">
                    <li>
                        <a href="#">
                            <div>
                                <p> <strong>Task 1</strong> <span class="pull-right text-muted">40% Complete</span> </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p> <strong>Task 2</strong> <span class="pull-right text-muted">20% Complete</span> </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"> <span class="sr-only">20% Complete</span> </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p> <strong>Task 3</strong> <span class="pull-right text-muted">60% Complete</span> </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"> <span class="sr-only">60% Complete (warning)</span> </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <div>
                                <p> <strong>Task 4</strong> <span class="pull-right text-muted">80% Complete</span> </p>
                                <div class="progress progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"> <span class="sr-only">80% Complete (danger)</span> </div>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="#"> <strong>See All Tasks</strong> <i class="fa fa-angle-right"></i> </a>
                    </li>
                </ul>
                <!-- /.dropdown-tasks -->
            </li>
            <!-- /.dropdown -->
            <li *ngIf="loggedin" class="dropdown">
                <a class="hidden-xs hidden-sm dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                    <div><b>Cihan Kandiş</b></div>
                </a>
                <a class="visible-xs visible-sm dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                    <i class="icon-user"></i>
                </a>
                <!--<a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <b >Cihan Kandiş</b> </a>-->
                <ul class="dropdown-menu dropdown-user animated scale-up">
                    <li (click)="navigate('profile')" style="cursor: pointer">
                        <a>
                            <i class="ti-user">
                            </i>
                            My Profile
                        </a>
                    </li>
                    <li><a href="#"><i class="ti-wallet"></i> My Balance</a></li>
                    <li><a href="#"><i class="ti-email"></i> Inbox</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                    <li role="separator" class="divider"></li>
                    <li (click)="logout()" style="cursor: pointer"><a><i class="fa fa-power-off"></i> Logout</a></li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
        </ul>
    </div>
    <!-- /.navbar-header -->
    <!-- /.navbar-top-links -->
    <!-- /.navbar-static-side -->
</nav>
<!-- End Top Navigation -->