﻿.navbar-header {
    padding-left: 256px;
    padding-right: 256px;
}

.navbar-form {
    padding-left: 0px;
}

@media (max-width: 1650px) {
    .navbar-form-input {
        width: 160px;
    }
}

@media (max-width: 880px) {
    .navbar-form-input {
        width: 160px;
    }
}

@media (max-width: 830px) {
    .navbar-form-input {
        width: 128px;
    }
}

@media (max-width: 660px) {
    .navbar-form-input {
        display: none;
    }

    .navbar-form-button {
        display: none;
    }
}

@media (max-width: 1280px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-left: 16px;
        padding-right: 16px;
    }

    .navbar-header {
        padding-left: 16px;
        padding-right: 16px;
    }
}
