﻿<head>
    <base href="/">
    <meta charset="utf-8">
    <style>
        .pac-item {
            list-style-type: none;
            cursor: pointer;
            padding: 8px;
        }
    </style>
</head>
    <!-- Bootstrap Core CSS -->
    <link href="~/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Typehead CSS -->
    <link href="~/plugins/bower_components/typeahead.js-master/dist/typehead-min.css" rel="stylesheet">
    <!-- Menu CSS -->
    <link href="~/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="~/css/animate.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="~/css/colors/blue.css" id="theme" rel="stylesheet">

    @{
        ViewData["Title"] = "Home Page";
    }

    <app>Loading...</app>

    <script src="~/dist/vendor.js" asp-append-version="true"></script>
    @section scripts {
        <script src="~/dist/main-client.js" asp-append-version="true"></script>
    }

<!-- jQuery -->
<script src="~/plugins/bower_components/jquery/dist/jquery.min.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="~/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Menu Plugin JavaScript -->
<script src="~/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
<!--slimscroll JavaScript -->
<script src="~/js/jquery.slimscroll.js"></script>
<!--Wave Effects -->
<script src="~/js/waves.js"></script>
<!-- Custom Theme JavaScript -->
@*<script src="~/js/custom.min.js"></script>
<script src="~/js/chat.js"></script>*@
<!-- Typehead Plugin JavaScript -->
<script src="~/plugins/bower_components/typeahead.js-master/dist/typeahead.bundle.min.js"></script>
<!--Style Switcher -->
<script src="~/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
