﻿.left-menu
{
    height: 100% !important;
}

.body-content {
    padding-left: 256px;
    padding-right: 256px;
}

@media (max-width: 1280px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-left: 16px;
        padding-right: 16px;
    }

    .navbar-header {
        padding-left: 16px;
        padding-right: 16px;
    }
}