﻿<idid-toolbar>

</idid-toolbar>
<div class='col-md-12 body-content' style="    height: 100%;">
    <div id="page-wrapper" style="margin: 0;position: relative;
    left: 0px;
    right: 0px;
    bottom: 0px;
    /*top: 60px;*/
    height: 100%;">
        <div class="container-fluid" style="    padding-top: 25px;
    position: absolute;
    height: 100%;
    left: 0;
    right: 0;
    bottom: 0;">
            <div class="chat-main-box" style="    position: absolute;
    background: #fff;
    overflow: hidden;
    right: 25px;
    left: 25px;
    top: 25px;
    bottom: 25px;">

                <!-- .chat-left-panel -->
                <div class="chat-left-aside" style="bottom: 0;">
                    <div class="open-panel"><i class="ti-angle-right"></i></div>
                    <div class="chat-left-inner left-menu" style="height: 100% !important;position:initial">

                        <div class="form-material"><input class="form-control p-20" type="text" placeholder="Search Contact"></div>
                        <div class="" style="position: absolute; overflow: hidden; width: auto;  overflow-y: auto;bottom: 0;
    top: 60px;
    right: 0;
    left: 0;">
                            <ul class="chatonline style-none " style="overflow: hidden; width: auto;">
                                <li><a href="javascript:void(0)"><img src="../../../assets/images/users/varun.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a></li>
                                <li><a href="javascript:void(0)" class="active"><img src="../../../assets/images/users/genu.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a></li>
                                <li><a href="javascript:void(0)"><img src="../../../assets/images/users/ritesh.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a></li>
                                <li><a href="javascript:void(0)"><img src="../../../assets/images/users/arijit.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a></li>
                                <li><a href="javascript:void(0)"><img src="../../../assets/images/users/govinda.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a></li>
                                <li><a href="javascript:void(0)"><img src="../../../assets/images/users/hritik.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a></li>
                                <li><a href="javascript:void(0)"><img src="../../../assets/images/users/john.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a></li>
                                <li><a href="javascript:void(0)"><img src="../../../assets/images/users/pawandeep.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a></li>
                                <li><a href="javascript:void(0)"><img src="../../../assets/images/users/varun.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a></li>
                                <li><a href="javascript:void(0)"><img src="../../../assets/images/users/genu.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a></li>
                                <li><a href="javascript:void(0)"><img src="../../../assets/images/users/ritesh.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a></li>
                                <li><a href="javascript:void(0)"><img src="../../../assets/images/users/arijit.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a></li>
                                <li><a href="javascript:void(0)"><img src="../../../assets/images/users/govinda.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a></li>
                                <li><a href="javascript:void(0)"><img src="../../../assets/images/users/hritik.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a></li>
                                <li><a href="javascript:void(0)"><img src="../../../assets/images/users/john.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a></li>
                                <li><a href="javascript:void(0)"><img src="../../../assets/images/users/pawandeep.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a></li>
                                <!--<li class="p-20"></li>-->
                            </ul><div class="" style="background: rgb(220, 220, 220); width: 0px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; "></div><div class="" style="width: 0px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                        </div>
                    </div>
                </div>
                <!-- .chat-left-panel -->
                <!-- .chat-right-panel -->
                <div class="chat-right-aside">
                    <!--<div class="chat-main-header">
                        <div class="p-20 b-b">
                            <h3 class="box-title">Chat Message</h3>
                        </div>
                    </div>-->
                    <div class="chat-box" style="overflow: visible;
    position: absolute;
    right: 0;
    left: 256px;
    bottom: 0px;
    top: -60px;">
                        <div class="" style="position: relative; overflow: hidden; width: auto; height: 100%;">
                            <ul #chatBox class="chat-list p-t-30" style="overflow: hidden; width: auto; height: 100%;    position: absolute;
    left: 0;
    right: 0;
    top: 60px;
    bottom: 70px;
    overflow-y: auto;
    height: auto;">
                                <li *ngFor="let message of messages" [ngClass]="{'odd': message.isCurrentUser}">
                                    <div class="chat-image"> <img [alt]="message.gender" [src]="message.imageDir"> </div>
                                    <div class="chat-body">
                                        <div class="chat-text">
                                            <h4>{{message.username}}</h4>
                                            <p> {{message.message}} </p>
                                            <b>{{message.time}}</b>
                                        </div>
                                    </div>
                                </li>
                                <!--<li class="odd">
                                    <div class="chat-image"> <img [alt]="" [src]="'images/users/genu.jpg'"> </div>
                                    <div class="chat-body">
                                        <div class="chat-text">
                                            <h4>Genelia</h4>
                                            <p> Hi, How are you Ritesh!!! We both are fine sweetu. </p>
                                            <b>10.03 am</b>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="chat-image"> <img [alt]="'male'" [src]="'images/users/ritesh.jpg'"> </div>
                                    <div class="chat-body">
                                        <div class="chat-text">
                                            <h4>Ritesh</h4>
                                            <p> Oh great!!! just enjoy you all day and keep rocking</p>
                                            <b>10.05 am</b>
                                        </div>
                                    </div>
                                </li>
                                <li class="odd">
                                    <div class="chat-image"> <img [alt]="'Female'" [src]="'images/users/genu.jpg'"> </div>
                                    <div class="chat-body">
                                        <div class="chat-text">
                                            <h4>Genelia</h4>
                                            <p> Your movei was superb and your acting is mindblowing </p>
                                            <b>10.07 am</b>
                                        </div>
                                    </div>
                                </li>-->

                            </ul><div class="" style="background: rgb(220, 220, 220); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; "></div><div class="" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div>
                        </div>
                        <div class="row send-chat-box" style="    position: absolute;
    bottom: 0;
    left: 0px;
    right: 0;">
                            <div class="col-sm-12">
                                <textarea class="form-control" placeholder="Type your message"></textarea>
                                <div class="custom-send"><a href="javacript:void(0)" class="cst-icon" data-toggle="tooltip" title="" data-original-title="Insert Emojis"><i class="ti-face-smile"></i></a> <a href="javacript:void(0)" class="cst-icon" data-toggle="tooltip" title="" data-original-title="File Attachment"><i class="fa fa-paperclip"></i></a> <button class="btn btn-danger btn-rounded" type="button">Send</button></div>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- .chat-right-panel -->
            </div>
            <!-- /.chat-row -->
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </div>
</div>